/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */

.container {
    width: 70%;
    margin: auto;
}

.flex-container {
    display: flex;
}

/* MAIN */

.odd {
    background-color: white;
    padding: 30px 0;
}

.even {
    background-color: lightgray;
    padding: 30px 0;
}

.col-1 {
    height: 300px;
    width: 60%;
    background-color: lightblue;
    border: 1px dotted black;
}

.col-2 {
    width: 40%;
    background-color: lightpink;
    border: 1px dotted black;
}

.col-3 {
    height: 300px;
    width: 60%;
    background-color: lightpink;
    border: 1px dotted black;
}

.col-4 {
    width: 40%;
    background-color: lightblue;
    border: 1px dotted black;
}

.box-2 {
    height: 600px;
    background-color: green;
    width: 100%;
    border: 1px dotted black;
}

/* FOOTER */

footer section:first-of-type {
    background-color: black;
    padding: 30px 0;
    border-bottom: 2px solid white;
}

footer section {
    padding-top: 20px;
    background-color: black;
}

.col-f1 {
    width: calc( (100% / 6) * 2 );
    background-color: #f08080;
    height: 350px;
    border: 1px dotted black;
}

.col-f2 {
    width: calc(100% / 6);
    background-color: #20b2aa;
    border: 1px dotted white;
}

.flex-container-f {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #7fffd4;
}

.logo, .bottone {
    background-color: lightpink;
    padding: 2px;
    border: 1px dotted black;
}

